/* Nav Bar CSS */
#navbar{
    width: 100%;
    height: 55px;
    background-color: #5A81A2;
    font-family: 'Poiret One';
}


/* Header CSS */
#head{
    text-align:center;
    margin: 10px;
    
}


/* Section CSS */
#body{
    margin-top: 20px;
}

#aboutme {
    color: white;
    text-align: center;
    font-family: 'Fredericka the Great';
    font-size: 40px;
    position: relative;
    
}

#aboutmetwo {
    color: white;
    font-family: 'Nixie One';
    font-size: 30px;
    position: relative;
    text-align: center;
    
}

#aboutmethree {
    color: white;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 40px;
    position: relative;
    
}

#about{
    margin: 0px 0px 0px 300px;
    bottom: 120px;
    position: relative;
}

#bg {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-filter: hue-rotate(740deg);
}

#size{
    width: 1000px;
}
/* About Section CSS */



/* Portfolio Item CSS */
.me{
    height: 100%;
}

#imageone{
    width: 50%;
}

#me-circle{
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
    padding: 25px 80px 25px 80px;
    border-radius: 50%;
    top: 100px;
    
}

#thumbnails{
    margin-top: 75px;
    font-family: 'Poiret One';
    margin-left: 3%;
    margin-right: 3%;
}

#over{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;

}

#day{
    position: relative;
    background-color: white;
    border-color: white;
    color: teal;
    margin-left: 45%;
    margin-top: 1%;
    font-family: 'Poiret One';
    font-size: 20px;
}

#projects{
    color: #5A81A2;
    text-align: center;
    font-family: 'Pacifico';
    margin-top: 85%;
    font-size: 80px;
}

#media{
    margin-top: 30%;
    width: 90%;
}

#colone{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}

#colone:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

#coltwo{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}

#coltwo:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

#colthree{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}

#colthree:hover
{

    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

/* Footer CSS */


/* Button CSS */


